* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

button {
  background-color: orange;
  color: white;
  font-size: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #fff;
  height: auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal h1 {
  margin: 0 0 20px 0;
}

.game-container {
  width: 100%;
  display: none;
  justify-items: center;
}

.images {
  display: flex;
  flex-flow: column wrap;
}
