* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

body {
  font-family: sans-serif;
  margin: 0;
}

button {
  background-color: orange;
  color: white;
  font-size: 20px;
  border: none;
  padding: 12px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.coverimages {
  padding-bottom: 30px;
}

/* MODAL STUFF */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #fff;
  height: auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal h1 {
  font-style: italic;
}
/* END MODAL STUFF */

/*GAME CONTAINER*/
.game-container {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.game-container h1 {
  margin-bottom: 20px;
  font-style: italic;
}

.game-container .navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.game-container .navbar button {
  flex-grow: 1;
  margin: 10px;
}

.game-container .controls {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.game-container .controls button {
  flex-grow: 1;
  margin: 10px;
}
/*END GAME CONTAINER*/

.park-page .game-container {
  display: flex;
}
